body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #F8C8DC;
    font-family: Arial, sans-serif;
    margin: 0;
}

.container {
    text-align: center;
    padding: 20px;
    box-sizing: border-box; /* Ensure padding is included in the element's total width and height */
    width: 100%; /* Make sure container takes full width */
}

img {
    max-width: 100%;
    max-height: 700px;
    width: auto;
    height: auto;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.header_text {
    font-family: 'Georgia', serif;
    font-size: 40px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#dailyQuote {
    font-family: 'Georgia', serif;
    font-size: 1.5em;
    color: #555;
    margin-top: 20px;
}

/* Media queries for responsiveness */
@media (max-width: 600px) {
    .header_text {
        font-size: 30px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    #dailyQuote {
        font-size: 1.2em;
        margin-top: 10px;
    }

    img {
        max-height: 400px;
    }
}

@media (max-height: 600px) {
    .header_text {
        font-size: 30px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    #dailyQuote {
        font-size: 1.2em;
        margin-top: 10px;
    }

    img {
        max-height: 400px;
    }
}
